*.nii*
data/*
# *.tar.gz
.vscode/*.log
fmri_preproc/resources/atlases/*/*.nii*
fmri_preproc/resources/atlases/*dHCP*/*
__pycache__/
unc_infant_atlas_2020/
group_qc/
test_data/
fmri_preproc/resources/atlases/UNC_infant_atlas_2020/*
fmri_preproc/resources/atlases/dhcp_volumetric_atlas_extended/*

# Delete __pycache__: 
# 
# find . -name "__pycache__" -exec rm -rf {} \;
